openstack/

# tarballs/zips that get downloaded
third_party/amqp-1.4.1.tar.gz
third_party/anyjson-0.3.3.tar.gz
third_party/argparse-1.2.1.tar.gz
third_party/Babel-1.3.tar.gz
third_party/bitarray-0.8.0.tar.gz
third_party/bottle-0.11.6.tar.gz
third_party/cliff-1.4.4.tar.gz
third_party/cmd2-0.6.5.1.tar.gz
third_party/cmon-1.2.6-357-64bit-glibc23-mc70.tar.gz
third_party/d2to1-0.2.11.tar.gz
third_party/ecdsa-0.10.tar.gz
third_party/eventlet-0.9.17.tar.gz
third_party/extras-0.0.3.tar.gz
third_party/Fabric-1.7.0.tar.gz
third_party/fixtures-0.3.12.tar.gz
third_party/gevent-0.13.8.tar.gz
third_party/geventhttpclient-1.0a.tar.gz
third_party/greenlet-0.4.1.zip
third_party/httplib2-0.8.tar.gz
third_party/iso8601-0.1.8.tar.gz
third_party/jsonpickle-0.6.1.tar.gz
third_party/kombu-3.0.9.tar.gz
third_party/librabbitmq-1.0.3.tar.gz
third_party/lxml-2.3.3.tar.gz
third_party/netaddr-0.7.5.tar.gz
third_party/netifaces-0.8.tar.gz
third_party/oslo.config-1.1.1.tar.gz
third_party/paramiko-1.11.0.tar.gz
third_party/Paste-1.7.5.1.tar.gz
third_party/PasteDeploy-1.5.0.tar.gz
third_party/pbr-0.5.21.tar.gz
third_party/prettytable-0.7.2.tar.gz
third_party/psutil-1.0.1.tar.gz
third_party/pycrypto-2.6.tar.gz
third_party/pyparsing-1.5.7.tar.gz
third_party/python-keystoneclient-0.0.360.0b66ca5.tar.gz
third_party/python-neutronclient.tar.gz
third_party/python-novaclient-3776fe9.tar.gz
third_party/pytz-2014.2.tar.gz
third_party/qpid-python-0.20.tar.gz
third_party/repoze.lru-0.6.tar.gz
third_party/requests-1.1.0.tar.gz
third_party/Routes-1.13.tar.gz
third_party/simplejson-3.3.0.tar.gz
third_party/six-1.6.1.tar.gz
third_party/SQLAlchemy-0.8.2.tar.gz
third_party/stevedore-0.12.tar.gz
third_party/testtools-0.9.21.tar.gz
third_party/thrift-0.8.0.tar.gz
third_party/WebOb-1.2.3.tar.gz
third_party/wsgiref-0.1.2.zip
third_party/zope.interface-3.7.0.tar.gz
third_party/zope.interface-3.8.0.tar.gz

# unpacked tarball/zip dirs
third_party/apache-cassandra-1.1.7-src
third_party/bitarray-0.8.1
third_party/elementtree-1.2.6-20050316
third_party/Fabric-1.7.0
third_party/geventhttpclient-1.0a
third_party/hiredis-0.1.1
third_party/kazoo
third_party/libvirt-0.9.12
third_party/meld3-0.6.10
third_party/ncclient
third_party/pycassa-1.10.0
third_party/pycrypto-2.6
third_party/redis-2.8.0
third_party/stevedore-0.12
third_party/thrift-0.9.1
third_party/virtualenv-1.9.1
third_party/xmltodict-0.7.0
third_party/zope.interface-3.7.0

# Nexted repo project
third_party/supervisor-3.0b2/
